profiles {
  apptainer {
    process.containerEngine = 'apptainer'
    singularity {
      enabled = true
      cacheDir = '/mnt/nrdstor/richlab/shared/.apptainer/cache'
      tempDir  = '/mnt/nrdstor/richlab/shared/.apptainer/tmp'
    }
    envWhitelist = ['APPTAINER_CACHEDIR','APPTAINER_TMPDIR','SINGULARITY_CACHEDIR','SINGULARITY_TMPDIR']
  }

  singularity {
    process.containerEngine = 'singularity'
    singularity {
      enabled = true
      cacheDir = '/mnt/nrdstor/richlab/shared/.apptainer/cache'
      tempDir  = '/mnt/nrdstor/richlab/shared/.apptainer/tmp'
    }
    envWhitelist = ['APPTAINER_CACHEDIR','APPTAINER_TMPDIR','SINGULARITY_CACHEDIR','SINGULARITY_TMPDIR']
  }

  docker {
    process.containerEngine = 'docker'
    docker.enabled = true
  }

  conda {
    conda.enabled = true
  }
}