profiles {
  apptainer {
    process.containerEngine = 'apptainer'
    singularity.enabled = true
  }
  singularity {
    process.containerEngine = 'singularity'
    singularity.enabled = true
  }
  docker {
    process.containerEngine = 'docker'
    docker.enabled = true
  }
  conda {
    conda.enabled = true
  }
}